@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/**/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir, Nunito Sans, Arial, Helvetica, sans-serif;
}

:root {

    --white-2: #f2f4f7;
    --white-3: #e7e8ec;

    --darkgrey-1: #565B6C;
    --darkgrey-2: #494d5c;

    --membership-green: #3fa74b;
    --membership-green-hover: #3fa74b;
    
    --nei-orange: #E88D1F;
    --nei-orange-hover: #ce7912;
  }


  .btn-membership-solid a {
    display:inline-block;
    color: #FFF;
    padding: 8px 16px;
    background-color: var(--membership-green);
    border-radius: 5px;
    font-size: 14px;
    margin: 10px auto;
    text-decoration: none;
}

.btn-darkgrey-solid a {
    display:inline-block;
    color: #FFF;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    background-color: var(--darkgrey-1);
    margin: 10px auto;
    text-decoration: none;
}

.btn-darkgrey-outline a{
    display:inline-block;
    color: var(--darkgrey-1);
    padding: 8px 16px;
    font-size: 14px;
    border: var(--darkgrey-1) 2px solid;
    border-radius: 5px;
    margin: 10px auto;
    text-decoration: none;
}

.btn-width-fit-content {
    width: fit-content;
}

/*START*/

body {
    background-color: rgb(180, 207, 209);
}

header{
    top: 0px;

    width: 100%;
    z-index: 1000;
    
}

.header-container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.top-container {
    background-color: #FFF;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px var(--white-2) solid;
}

.top-logo {
    padding-left: 2em;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    display: flex;
}

.top-logo img {
    width: 300px;
}

.logo-desktop {
    display: block;
}

.logo-mobile {
    display: none;
}

.nav-wdgts {
    z-index: 1002;
}

.nav-wdgts-container { 
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    font-size: 14px;
    padding-top: 0px;
    padding-right: 1em;
}

    .nav-wdgts a {
        color: var(--darkgrey-1);
        transition: .3s;
    }

        .nav-wdgts a:hover {
            color: #000000;
        }

        .nav-wdgts-container div {
        margin: 1.8em 1em;
    }

    .nav-wdgts i {
        padding-right: 5px;
    }


    .wdgt-login a {
        color: #FFF;
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 5px;
        background-color: var(--darkgrey-1);
        text-decoration: none;
    }

        .wdgt-login a:hover {
            color: #FFF;
            background-color: var(--darkgrey-2);
            text-decoration: none;
        }

    .wdgt-shop a, .wdgt-search a{
        background-color: unset;
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 5px;
        text-decoration: none;
    }

        .wdgt-shop a:hover, .wdgt-search a:hover{
            background-color: var(--white-2);
        }

    .nav-wdgts-title {
        display: inline;
    }

    .hamburger {
        display: none;
    }


    .wdgt-user-box {
        background-color: var(--white-2);
        width: 250px;
        border-radius: 5px;
        position: absolute;
        right: 27px;
        margin-top: -70px;
        padding-bottom: 10px;
        box-shadow: 0px 0px 10px #494d5c3f;  

        display: none;
        transition: .3s;
    }


    .wdgt-user-name::before {
        content: 'Welcome, ';
        white-space: pre;
    }

    .wdgt-user-name::after {
        content: '!';
    }

    .wdgt-user-name {
        font-size: 14px;
        padding: 20px
    }

    

    .wdgt-user-box-container hr {
        border: 1px solid  var(--white-3);
        margin: 10px 0px;
    }

    .wdgt-user-box-container a{
        width: 100%;
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 14px;
    }

    .wdgt-user-box-container a:hover{
        background-color:  var(--white-3);
    }



/*             */


.nav-container {
    padding: 0 0rem;
    margin: 0 auto;
    display: flex;
    position: relative;    
    background-color: #FFF;
}

.nav-container ul {
    list-style: none;
}

.nav-container a {
    text-decoration: none;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 2rem;
    color: var(--darkgrey-1);
    padding: 0rem 0rem;
    margin: 1rem 2rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.nav-link > a:hover {
    color: #000;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link .nav-header {
    line-height: 2rem;
    padding: 0rem 0rem;
    margin: 1rem 2rem;
    font-size: 14px;
    transition: .3s;
    border-bottom: 2px #FFF solid;
}

.nav-link i {
    padding-right: 3px;
}

.dropdown{
    position: absolute;
    display: flex;
    top: 100%;
    left: 0;
    /* transform: translateY(10px); */
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.dropdown ul{
    position: relative;
    background-color: #fafbfc;
}

.dropdown-link{
    /* position: relative */
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}


/*             */

.dropdown-list-type {
    padding-top: 2rem;
    width: 250px;
}

.dropdown-list-type li {
    padding: 2rem 0rem 0rem 2rem;
    margin-left: 0;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

    .dropdown-list-type li a {
        color: var(--darkgrey-1);
        transition: .3s;
    }

    .dropdown-list-type li a:hover {
        color: #000000;
    }

.dropdown-list-header {
    padding: 0rem 0rem 0rem 2rem;
    margin-left: 0;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

    .dropdown-list-member-information {
        color: var(--membership-green);
        font-weight: 800;
    }    

    .dropdown-list-member-benefits {
        color: var(--membership-green);
        font-weight: 800;
    }

    .dropdown-list-nei-meetings {
        color: var(--nei-orange);
        font-weight: 800;
    }

    .dropdown-list-practice-tools {
        color: #702e8b;
        font-weight: 800;
    }

    .dropdown-list-teaching-tools {
        color: #702e8b;
        font-weight: 800;
    }

    .dropdown-list-online-cmece {
        color: var(--darkgrey-1);
        font-weight: 800;
    }

    .dropdown-list-cmece-cert {
        color: var(--darkgrey-1);
        font-weight: 800;
    }

.dropdown-list-type ul li {
    display: flex;
    color: var(--darkgrey-1);
    padding: 0rem 2rem 2rem 0rem;
    margin-left: 0;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-list-type ul li a {
    color: var(--darkgrey-1);
}

.dropdown-button-type li{
    flex-grow: 1;
    width: 100%;
    margin: 0 auto
}

.dropdown-button-type {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.dropdown-button {
    display: flex;
    justify-content: center;

    background-color: var(--white-2);
    border-left: solid 1px var(--white-3);
    border-top: solid 1px var(--white-3);
    border-right: solid 1px var(--white-3);
    height: 100%;
    margin: 0 auto;
    width: 100%;
    text-align: center;

    transition: .3s;
}

.dropdown-button a {
    display: flex;    
    flex-direction: column;
    justify-content: center;
}

    .dropdown-button:hover {
        background-color: var(--white-3);
    }

    .dropdown-button img {
        width: 50px;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .dropdown-button span {
        color: var(--membership-green);
        font-weight: 800;
        font-size: .9rem;
    }

.dropdown-simple-type {
    padding-bottom: 2rem;
    width: 250px;
}

.dropdown-simple-type li {
    padding: 2rem 2rem 0rem 2rem;
    margin-left: 0;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

    .dropdown-simple-type li a {
        color: var(--darkgrey-1);
        transition: .3s;
    }

    .dropdown-simple-type li a:hover {
        color: #000000;
    }


/*Meetings Navigation Bar*/
    
.meetings-register-link a{
    line-height: unset;
    color: #FFF;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    background-color: var(--nei-orange);

}

.meetings-register-link a:hover{
    color: #FFF;
    background-color: var(--nei-orange-hover);

}
    
.bth-link-meetings {
    border-right: solid 3px var(--white-3);
}
    .bth-link-meetings a {
        color: var(--nei-orange);
    }
    .bth-link-meetings a:hover {
        color: var(--nei-orange-hover);
    }


/*Membership Navigation Bar*/

.membership-joinrenew-link a{
    line-height: unset;
    color: #FFF;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    background-color: var(--membership-green);
}

.membership-joinrenew-link a:hover {
    color: #FFF;
    background-color: var(--membership-green-hover);
}

.bth-link-membership {
    border-right: solid 3px var(--white-3);
}
    .bth-link-membership a {
        color: var(--membership-green);
    }


/*MPP Navigation Bar*/

.mpp-cta-link a{
    line-height: unset;
    color: #FFF;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #863333;
}

.mpp-cta-link a:hover {
    color: #FFF;
    background-color: #6e2b2b;
}
    
.bth-link-mpp {
    border-right: solid 3px var(--white-3);
}
    .bth-link-mpp a {
        color: #863333;
    }



    

/*Mobile*/

@media only screen and (max-width: 845px) {
    header{
        position: fixed;
        top: 0px;
        background-color: #FFF;
        width: 100vw;
        z-index: 1000;
        overflow-x: hidden;
        overflow-y: scroll;
        
        height: 68px;
    }

    .top-container {
        position: fixed;
        width: 100%;
    }

    .top-logo {
        padding-left: 1.5em;
        padding-top: 1rem;
        padding-bottom: 0.7rem;
        display: flex;
        
    }
    
    .top-logo img {
        width: 40px;
    }

    .logo-desktop {
        display: none;
    }
    
    .logo-mobile {
        display: block;
    }
    

    .nav-container {
        display: block; /*Change to display block*/
        
    }

    .nav-links {
        padding-top: 10px;
        margin-top: 68px;
        height: calc(100vh - (68px));
        overflow-y: scroll;
    }

    .nav-links, .nav-btn {
        width: 100%;
    }

    .nav-wdgts {
        position: fixed;
        background-color: unset;
        top: 0; right: 0;
        padding-left: 1em;
        padding-top: 0.5rem;
        padding-bottom: .5rem;
        width: 100%;
    }

    .nav-wdgts-container {
        position: unset;
        max-width: none;
        margin: 0 auto;
        text-align: right;
        flex-wrap: wrap;
        justify-content: right;
        padding-top: 0px;
        right: unset; left: unset;
    }

    .nav-wdgts-container div {
        margin: 1rem 0;
    }

    .wdgt-search a, .wdgt-shop a, .wdgt-login a, .hamburger a{
        color: var(--darkgrey-1);
        background-color: unset;
        padding: 16px;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
    }

    .wdgt-search a:hover, .wdgt-shop a:hover, .wdgt-login a:hover, .hamburger a:hover{
        background-color: unset;
        color: inherit;
    }


    .wdgt-search i, .wdgt-shop i, .wdgt-login i, .hamburger i {
        vertical-align: middle;
        text-align: center;
        font-size: 18px;
        padding: unset;
    }

    .nav-wdgts-title {
        display: none;
    }

    .wdgt-search, .wdgt-shop {
        padding: 0;
    }

    .hamburger{
        display: block;
        padding-left: 20px;
    }





    .wdgt-user-box {
        margin-top: 0;

    }




    .nav-btn {
        display: none;
    }

    .nav-links > ul{
        display: block;
       
    }
    .dropdown{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #3183ac;
        display: none;
    }

    .dropdown ul {
        background-color: var(--white-3);
    }

    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: unset;
    }

    .nav-btn{
        overflow-x: hidden;
        overflow-y: auto;
        transition: .65s;
    }
    
    .dropdown-button-type {
        display: none;
    }

    .dropdown-list-type {
        padding-top: 2rem;
        width: 100vw;
    }

    .dropdown-simple-type {
        width: 100%;
    }


    .bth-link-meetings a{
        display: block;
    }

    .bth-link-membership a{
        display: block;
    }

    .bth-link-mpp a{
        display: block;
    }

    .meetings-register-link {
        width: fit-content;
    }

    .membership-joinrenew-link {
        width: fit-content;
    }

    .mpp-cta-link {
        width: fit-content;
    }
}


